*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.all_data{
    margin-top: 100px;
}

.all_data h1{
    display: flex;
    justify-content: center;
}

table{
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid #fff;
    text-align: left;
    padding: 8px;
}

th{
    background-color: #00abf0;
}

.delete-btn{
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px;
}

.update-btn{
    width: 100px;
    height: 50px;
    color: white;
    background-color: green;
    border: 1px solid white;
    border-radius: 10px;
}


label{
    width: 100px;
    margin: 3px;
    display: inline-block;
}

.wrapper{
    width: 300px;
    margin-left: 50px;
}

.wrapper .btn{
    width: 100%;
    color: white;
    background-color: green;
    border: 1px solid green;
    transition: .3s;
    border-radius: 10px;
}

.wrapper .btn:hover{
    font-weight: bold;
    transition: .3s;
}

.wrapper .input-field{
    background: none;
    color: white;
    border: 2px solid #00abf0;
    border-radius: 5px;
    padding: 0 5px;
}

.page{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.page .curr-page{
    color: #00abf0;
    font-weight: bold;
}

.page a{
    text-decoration: none;
    color: white;
    transition: .3s;
}

.page a:hover{
    color: #00abf0;
    transition: .3s;
}
